// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Ratio
$ratio: 11px;
$easing: cubic-bezier(0.25, 1, 0.5, 1);

// Colors
$bg: #fff;
$color: #000;

// Typography
$p: 14px;
$huge: 56.25px; // 70/0.25
// $big: 33.333333px; // 25/0.25
$big: 21px; // 25/0.25
$small: 21.333333333px; // 16/0.25
// $small: 19px; // 16/0.25
$smaller: 16px;
$tiny: 12px;
$lh: 1.4;

