#cookie-notice {
    border: 1px solid $color;
    font-family: 'Berthe Regular', sans-serif !important;
}

.cookie--button {
    background-color: $color !important;
    color: $bg !important;
    font-family: 'Berthe Regular', sans-serif !important;
}
