@keyframes fadeInDelay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }

}

body {
    #cookie-notice {
        // animation-name: fadeInDelay;
        // animation-duration: 0.525s;
        // animation-delay: 5s;
        border: 1px solid $color;
        font-family: 'Berthe Regular', sans-serif !important;

        &.cn-effect-fade {
            border: none;
        }
    }

    .cookie--button {
        background-color: $color !important;
        color: $bg !important;
        font-family: 'Berthe Regular', sans-serif !important;
    }
}
