// ANIMATION TEXT CHANGE
// https://codepen.io/Ellaylone/pen/eRrZaw
@keyframes change {
    0% {
        transform:translate3d(0,0,0);
    }
    100% {
        transform:translate3d(0,-100%,0);
    }
}

#container-intro {
    background-color: $color;
    display: grid;
    height: calc( 100vh - 62px );
    place-items: center;
    width: 100vw;

    @include respond(tablet) {
        height: 100vh;
    }

    .intro--texts {
        @include flex(center, center, row, center, center, column);
        height: auto;

        h1 {
            color: $bg;
            text-align: right;
            width: calc( 50vw - 10.5px );

            @include respond(tablet) {
                font-size: $small;
                line-height: $small;
                text-align: center;
            }

            // Uniquement pour le PARIS en statique en attendant la validation de l'animation
            &.intro--paris {
                text-align: left;

                @include respond(tablet) {
                    text-align: center;
                }
            }
        }

        .intro--separator {
            // border-left: 1px solid $bg;
            background-color: $bg;
            height: $huge;
            margin: 10px;
            width: 1px;

            @include respond(tablet) {
                height: 0.5px;
                width: 100px;
            }
        }

        .intro--animations {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            height: $big;
            overflow: hidden;
            position: relative;
            width: calc( 50vw - 10.5px );

            display: none;

            @include respond(tablet) {
                align-items: center;
                height: $tiny;
                width: 100vw;
            }

            .animations-container {
                animation-name: change;
                animation-duration: 8.25s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(8);

                @include respond(tablet) {
                    display: grid;
                    place-items: center;
                    width: inherit;
                }

                h1 {
                    font-size: $big;
                    line-height: $big;
                    text-align: left;

                    @include respond(tablet) {
                        font-size: $tiny;
                        height: $tiny;
                        line-height: $tiny;
                        text-align: center;
                        width: inherit;
                    }
                }
            }
        }
    }
}
