.single-project {
    .navigation--projects {
        span {
            display: none !important;
        }
    }

    #office-mobile {
        top: 115px !important;
    }

    .logo--container {
        .logo--title {
            &:first-child {

                @include respond(tablet){
                    display: none;
                }
            }

            &:last-child {
                @include respond(tablet) {
                    width: 100%;
                }

                h2 {

                    @include respond(tablet) {
                        text-align: center !important;
                        width: 100% !important;
                    }
                }
            }
        }

        @include respond(tablet) {
            // Show the logo on mobile
            display: block !important;
        }

        span {

            @include respond(tablet) {
                display: none;
            }
        }
    }
}
