/****************************************************
 *
 * Footer
 *
 * *************************************************/

footer {
    background-color: DarkOrange;
    display: flex;
    justify-content: space-between;

}
