/****************************************************
 *
 * Footer
 *
 * *************************************************/

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;

    @include respond(tablet) {
        flex-direction: column;
    }

    & > * {
        font-size: $tiny;
    }

    .footer--credits {
        display: flex;

        @include respond(tablet) {
            flex-direction: column;
            margin: 20px 0;
        }

        a {
            &:first-child {
                margin: 0 20px 0 0;

                @include respond(tablet) {
                    margin: 0;
                }

                &:after {
                    content: '|';
                    margin: 0 0 0 20px;

                    @include respond(tablet) {
                        display: none;
                    }
                }
            }
        }

        &:before {
            content: '|';
            margin: 0 20px;

            @include respond(tablet) {
                display: none;
                margin: 0;
            }
        }

        &:after {
            content: '|';
            margin: 0 20px;

            @include respond(tablet) {
                display: none;
                margin: 0;
            }
        }

    }
}

.single {
    footer {
        display: none;
    }
}
