/****************************************************
 * Header
 * *************************************************/

#masthead {
    height: auto;
    position: relative;

    @include respond(tablet) {
        position: sticky;
        top: 0;
    }

    &.site-header-single {
        .header-navigation {
            .header-category {
                display: none;
            }
        }

        @include respond(tablet) {
            position: relative;
            top: 0;
        }
    }

    // FADE IN/OUT LOGO ON SCROLL
    &.site-header-home {
        .header-navigation--logo {
            opacity: 0 !important;
        }

        .header-navigation {

            &.is-pinned {
                .header-navigation--logo {
                    opacity: 1 !important;
                }
            }
        }

    }

    a,
    span  {
        align-self: center;
        cursor: pointer;
    }

    // NAVIGATION
    .header-navigation {
        @include grid( repeat(12, 1fr), 1fr, $ratio, $ratio,  repeat(4, 1fr), 1fr ,$ratio, $ratio);
        background-color: $bg;
        border-bottom: 1px solid $color;
        height: 62px;
        padding: $ratio;
        position: sticky;
        top: -1px;
        z-index: 3;

        // margin-bottom: 62px;

        .navigation--projects,
        .navigation--office {
            opacity: 1;

            @include respond(tablet) {
                display: none;
                height: 0px;
                opacity: 0;
                padding: 0 $ratio;
                // transition: all 0.325s $easing;
            }

            &.active {
            }
        }

        .navigation--office {
            opacity: 1;
            z-index: 2;

            &.active {
                @include respond(tablet) {
                    align-self: center;
                    background-color: $bg;
                    border-bottom: 1px solid $color;
                    display: block;
                    height: auto;
                    left: 0;
                    opacity: 1;
                    padding: $ratio;
                    position: absolute;
                    top: 205px;
                    width: 100vw;

                    // NAV ACTIVE
                    p {
                        &:first-child {
                            display: block;
                            text-align: center;
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                }
            }

            //NAV INACTIVE
            p {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                }
            }
        }

        .navigation--projects {
            opacity: 1;

            @include respond(tablet) {
                display: none;
                height: 0px;
                opacity: 0;
                padding: 0 $ratio;
                transform: translateY(-186px);
                transition: transform 0.325s $easing;
            }

            .category-item ,
            #all-projects{
                display: none;
                opacity: 0;
                pointer-events: none;
            }

            &.active {
                @include respond(tablet) {
                    align-self: center;
                    background-color: $bg;
                    border-bottom: 1px solid $color;
                    display: block;
                    // height: 186px;
                    height: auto;
                    left: 0;
                    opacity: 1;
                    padding: $ratio;
                    position: absolute;
                    transform: translateY(0);
                    top: 62px;
                    width: 100vw;

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas:
                        'project bureaux .'
                        '. commercial .'
                        '. residentiel .'
                        '. hospitalite tout';
                    grid-auto-rows: auto;

                    & > * {
                        height: 30px;
                        place-self: flex-start flex-start;
                        // margin: 5px 0;
                    }

                    .category-item ,
                    #all-projects{
                        display: block;
                        opacity: 1;
                        pointer-events: auto;
                    }

                    // LINK PROJECTS
                    a {
                        align-self: start;
                        grid-area: project;
                    }

                    .category-bureaux {
                        grid-area: bureaux;
                    }

                    .category-commercial {
                        grid-area: commercial;
                    }

                    .category-hospitalite {
                        grid-area: hospitalite;
                    }

                    .category-residentiel {
                        grid-area: residentiel;
                    }

                    #all-projects {
                        grid-area: tout;
                        place-self: flex-start flex-end;
                    }

                    // CATEGORIES
                    .header-category {
                        align-self: start;
                        grid-area: category;

                        border: none;
                        display: flex;

                        display: none;

                    }
                }

            }

        }

        .navigation--hamburger {
            align-self: center;
            display: none;
            @include respond(tablet) {
                display: flex;
            }
        }

        .header-navigation--logo {
            align-self: center;
            left: 50%;
            opacity: 1;
            position: absolute;
            transform: translateX(-50%);
            transition: opacity 0.325s $easing;

            height: auto;
            width: 50%;

            z-index: 1;

            // background-color: red;

            @include respond(tablet) {
                height: auto;
                width: 75vw;
            }

            // a {
            .logo--container {
                @include flex( center, center, row, center, center, row );

                // OUVRAGE
                .logo--title {
                    // OUVRAGE
                    &:first-child {
                        h2 {
                            margin-right: 10px !important;
                            text-align: right;
                            width: 40vw;
                        }
                    }
                    // PARIS
                    &:last-child {
                        h2 {
                            margin-left: 10px !important;
                            text-align: left;
                            width: 40vw;
                        }
                    }

                    h2 {
                        width: 128px;

                        @include respond(tablet) {
                            font-size: $smaller;
                        }
                    }
                }


                // SEPARATOR
                span {
                    border-right-color: #000;
                    border-right-style: solid;
                    border-right-width: 1px;
                    height: $big;
                    width: 1px;

                    @include respond(tablet) {
                        border-right-width: 1px;
                        height: $smaller;
                        width: 1px;
                    }
                }
            }
        }

        // OFFICE COLLAPSE
        .header-navigation--office {
            background-color: $bg;
            max-height: 0;
            overflow: hidden;
            padding: 0 18px;
            position: absolute;
            top: 62px;
            transition: max-height 0.2s $easing;
            z-index: 1;

            &.active {
                border-bottom: 1px solid $color;
            }

            p {
                margin: auto;
                padding: 30px 0;
                text-align: center;
                width: 60%;

                @include respond(tablet) {
                    width: 100%;
                }
            }
        }


    }
    // CATEGORIE
    .header-category {
        @include grid( repeat(12, 1fr), 1fr, $ratio, $ratio,  repeat(4, 1fr), 1fr ,$ratio, $ratio);
        background-color: $bg;
        border-bottom: 1px solid $color;
        height: 62px;
        padding: $ratio;
        position: sticky;
        top: 61px;
        width: 100%;
        z-index: 3;

        & > * {
            &.category-selected {
                text-decoration: underline;
            }
        }

        // display: none;

        @include respond(tablet) {
            display: none;
        }
    }


}



